body {
  background: url("https://static1.squarespace.com/static/565f34f5e4b06736c02fdda6/565f4a0de4b0b002ffd17cb0/57bd64c7f7e0ab7f80485c85/1472030153722/trust_1.gif");



  font-family: "Open Sans", times new roman;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #878787;
}

h1{
  font-size: 36px
}

h2{
  font-size: 30px
}

h3{
  font-size: 23px
}

h1, h2, h3{
  border: 3px solid;
  border-color:  #878787;
  border-radius: 20px;
  background-color: black;
  font-family: "Merriweather", serif;
  text-align: center;
}

p {
  text-align: justify;
  font-size: 16px;
  color:#878787 ;
}

img{
  border:4px outset #7d7d7d ;
}





ul {
  background: #080808;
  padding: 10px;
}

ul li {
  background: #787878;
  padding: 5px;
  border: solid 2px white;
  display: inline-block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #C0C0C0;
}
